
body {
  margin:0;
  padding: 0;
  background-color: #eeeeee;
}

h1 {
  margin-top:0;
  color: darkgrey;
  font-weight: normal;
  font-size: 50px;
  font-family: garamond;
  text-align: center;
  margin-bottom: -20px;

}

h2 {
  color: grey;
  font-weight: normal;
  font-size: 20px;
  font-family: garamond;
  text-align: center;
  font-style: italic;
}


p {
  color:#ededed;
  font-family: verdana;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
}

.shape {
  height: 150px;
  background-color: darkgrey;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
}
