:root {
  --light: #eeeeee;
  --dark: #6d6d6d;
  --darker: #373737;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light);
}

#parallax {
position: relative;
width: 100%;
height: 100%;
overflow: hidden;

}

.background_header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  position: relative;
  margin-top: 0;
  padding-top: 30px;
  color: var(--dark);
  font-weight: normal;
  font-size: 50px;
  font-family: garamond;
  text-align: center;
  margin-bottom: -20px;
}


#head2 {
  position: relative;
  color: var(--dark);
  font-weight: normal;
  font-size: 20px;
  font-family: garamond;
  text-align: center;
  font-style: italic;
}

h2 {
  color: var(--dark);
  font-weight: normal;
  font-size: 20px;
  font-family: garamond;
  text-align: center;
  font-style: italic;
}

p {
  color: var(--light);
  font-family: garamond;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--dark);
  margin-bottom: 20px;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: var(--light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: var(--darker);
}

nav ul li a:active {
  background-color: var(--darker);
}


.shape {
  padding: 10px;
  height: 150px;
  background-color: var(--dark);
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
}

.container {
  height: auto;
  width: auto;
  margin: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}

@media only screen and (max-width: 1200px){
  .container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

}

.griditem {

  height: 100%;
  width: 100%;
  outline-style: solid;
  outline-width: 4px;
  outline-color: black;
  text-align: center;
  background-color: var(--light);
  transition: 1.0s;
  transform-origin: center;
}

.griditem:hover {
  scale: 105%;
  outline-width: 2px;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.portimage {
  opacity: 100%;
  transition: 0.5s;
}

.portimage:hover {
  opacity: 35%;
}

/* FOOTER FOOTER FOOTER */
.footer-container {
  background-image: url('assets/footer.png');
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 40px;
}


.footer {
  color: var(--light);
  text-align: left;
}

.footer h2 {
  font-size: 22px;
  text-align: left;
  color: var(--light);
}

.footer ul {
  float: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer ul li {
  margin: 20px;
  padding: 0;
  overflow: hidden;
}

.footer-menu{
  float: right;
  width: 30%;
  padding: 50px;
  box-sizing: border-box;

}

.footer-menu ul{
  position: absolute;
  bottom:0;
  overflow: hidden;
}

.footer-menu ul li a{
  color: var(--light)
}
